 .Apr h1 {
     font-size: var(--fs-p);
     color: var(--azul);
 }

 .begin {
     padding-top: 100px;
 }

 .name h2 {
     font-size: var(--fs-g);
     color: var(--cinza-claro);
     font-weight: bold;
 }

 .adjective h3 {
     font-size: var(--fs-g);
     color: var(--cinza-escuro);
     font-weight: bold;
 }

 .apresentation p {
     font-size: var(--fs-p);
     color: var(--cinza-escuro);
 }

 .code {
     width: 90%;
     height: 130px;
     border-radius: var(--border-radius);
     background-color: #1F2526;
     box-shadow: var(--box-shadow);

 }

 .code p {
     padding: 10px 0 0 20px;
     font-size: var(--fs-p);
     color: #757A7E;
 }

 .code span {
     color: var(--azul);
 }


 .input-begin {
     display: flex;
     align-items: center;
 }

 .input-begin p {
     padding-top: 0;
     color: #228FC8;
 }

 .input-begin input {
     height: 25px;
     width: 50%;
     margin-left: 10px;
     margin-bottom: 15px;
     background-color: transparent;
     border: none;
 }

 hr {
     padding: 0 !important;
     color: #757A7E;
 }


 @media (max-width:991px) {
     .begin {
         padding: 100px 10px 0 10px
     }

     .adjective h3,
     .name h2 {
         font-size: var(--fs-xg);
     }

     .code {
         margin-bottom: 20px;
     }

     .code input {
         width: 30%;
     }

     #body-principal.active{
         filter: blur(5px);
         transition: var(--transition);
     }
 }